body
{
    background-color: rgba(0, 255, 128, 0.616);
}
form
{
    background-color: white;
    width: 600px;
    margin-top: 10px;
    margin-left: 380px;
}

td
{
    border: 1px solid black;
}
th
{
    border: 1px solid black;
}

tr
{
    height: 50px;
}
.name-label
{
    margin-left: 60px;
}
.label-age
{
    margin-left: 60px;
}
.input-age
{
    width: 150px;
    margin-left: 57px;
}

.rollno-label
{
    margin-left: 20px;
}
.rollno-input
{
    width: 140px;
    margin-left: 20px;
}

.branch-label
{
    margin-left: 60px;
}

.branch-select
{
    margin-left: 37px;
    width: 150px;
}

.section-label
{
    margin-left: 20px;
}

.section-select
{
    margin-left: 20px;
    width: 135px;
}

.email-label
{
    margin-left: 60px;
}

.email-input
{
    margin-left: 50px;
    width: 380px;
}

.phone-label
{
    margin-left: 60px;
}

.code-input
{
    margin-left: 13px;
    width: 100px;
}

.phone-input
{
    margin-left: 20px;
    width: 255px;
}

.submit-btn
{
    margin-left: 230px;
}

.name-alert
{
    margin-left: 88px;
}

.lastname-alert
{
    margin-left: 290px;
    margin-top: -10px;
}

.age-alert
{
    margin-left: 100px;
}

.rollno-alert
{
    margin-left: 80px;
}

.branch-alert
{
    margin-left: 100px;
}

.section-alert
{
    margin-left: 70px;
}

.email-alert
{
    margin-left: 100px;
}

.code-alert
{
    margin-left: 90px;
}

.phone-alert
{
    margin-left: 250px;
    margin-top: -4px;
}

.submit_btn
{
    margin-left: 240px;
}

table
{
    margin-left: 160px;
    font-style: italic;
}

.name_th
{
    width: 130px;
}
.email_th
{
    width: 200px;
}

.phone_th
{
    width: 180px;
}

.delete_th
{
    width: 90px;
}

.edit_th
{
    width: 90px;
}

.reset_button
{
    margin-left: 620px;
}

 /* .modal-size
{
    width: 200px;
} */


 .edit_form
 {
   
  margin-left: 50px;
 }
 .update_btn
 {
    margin-left: 100px;
    height: 40px;
 }
 
 /* .loader-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
} */

.spinner-1 {
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-color: grey transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
    margin-top: -80px;
    margin-left: 500px;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-msg
{
    margin-left: 80px;
}

.spinner2 {
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-color: blue transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
   margin-left: 420px;
   margin-top: -70px;
   
}

